services:
  db:
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 768M

  auth:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  rest:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  realtime:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  storage:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  imgproxy:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  meta:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  functions:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  kong:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  studio:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M

  supavisor:
    deploy:
      resources:
        limits:
          cpus: '0.10'
          memory: 128M
